{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style4.css' %}">
</head>
<body>
    {% block content %}
    <div class="form">
        <h2>Password Reset</h4>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            <br><br>
            <div>{{form}}<br><br></div>
            <!--{{form}}<br><br>-->
            <input type="submit" value="Send Email">
        </form>
    </div>
    {% endblock %}
</body>
</html>